<% include ./partials/header %>
    <br><br><br><br>
<div class='ui main text container segment'>
    <div class='ui huge header'>New Query</div>
    <form class='ui form' method='POST'>
        <div class='field'>
        	<label>Queryp</label>
        	<input type='text' name='query' placeholder="Query"></input>
        </div>
    	<input class='ui green basic button' type="submit"></input>
      <a href="/recent">Recent</a>
    </form>
</div>

<% include ./partials/footer %>
